@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,900;1,100&display=swap');

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
  }

/* ------------------------------- Be kind and TLC section*/

#middle-section {
  background-color: #EEC8E0;
  height: 750px;
  padding: 50px;
}

.container {
  background-color: white;
  width: 100%;
  margin: auto;
  margin-top: 3%;
  
}

.container-middle {
  background-color: #EEC8E0;
  width: 100%;
  margin-top: 3%;
 
}

.box {
    background-color: white;
    
    text-align: center;
    margin: auto;
    width: 370px;
    height: 275px;
}

  .box h2 {
    font-size: 2rem;
    margin-top: 30px;
    
  }

  .box p {
    padding: 10px;
  }

  .box i {
    font-size: 1.5rem;
    color: #bd3d7d;
  }

  .box a {
    color: #bd3d7d;
  }

/* ------------------------------- Carousel */

.carousel .carousel-item {
  height: 550px;
}

.carousel .carousel-item img {
  height: 550px;
  object-fit: cover;
}

/* ---------------------------- Story Form */

#story-form {
  background-color: #EEC8E0;
  padding: 40px 30px;
}

form h2 {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: #FFFFFF;
}

.form-label {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#form-button {
  background-color: #FFFFFF;
  color: #EEC8E0;
  font-weight: 900;
  font-size: 18px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}

input, textarea{
  text-align:center;
}

::-webkit-input-placeholder {
  color: #EEC8E0!important;
  font-weight: 600;
}
::-moz-placeholder {
  color: #EEC8E0!important;
  font-weight: 600;
}
:-ms-input-placeholder {
  color: #EEC8E0!important;
  font-weight: 600;
}
:-moz-placeholder {
  color: #EEC8E0!important;
  font-weight: 600;
}

#form-button:hover {
  background-color: #EEC8E0;
  color: #FFFFFF;
  transition: 1s;
}

/* ------------------------------- Header image */

#hero-background {
  background-color: #DDC0C8;
  margin-bottom: 10%;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

#hero-image {
  background-image: url('../images-for-site/pexels-oranges.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

#hero-background h1 {
  font-weight: 900;
  color: #FAF8F9;
  font-size: 20rem;
  letter-spacing: 90px;
  text-align: center;
  margin-left: 5%;
}

#hero-background h3 {
  color: #bd3d7d;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 5px;
}

/* ------------------------------- Navbar */
.fixed-top {
  --bs-bg-opacity: 0.7;
  background-color: rgba(var(--bs-red), var(--bs-bg-opacity)) !important;
}

.container {
  background-color: white;
  width: 100%;
  margin: auto;
  margin-top: 2%; 
}

/* ------------------------------- Footer */

footer {
  width: 100%;
  height: 150px;
  background-color: #bd3d7d;
  margin-top: auto;
      
}



/* ------------------------------- Stories page welcome */

#story-background {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

#story-image {
  background-image: url('../images-for-site/pexels-stories.jpg');
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  width: 71%;
  height: 75%;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

#story-background .stories {
  font-weight: 900;
  color: #bd3d7d;
  font-size: 5rem;
  letter-spacing: 90px;
  text-align: center;
  margin-left: 5%;
  padding-bottom: 2%;
}

#story-background h3 {
  color: #bd3d7d;
  font-size: 3rem;
  text-align: center;
}

/* ------------------------------- Stories page - user stories*/


.user-story {
  padding-top: 5%;
  width: 93.5vw;
  padding-left: 6.5vw;
}
.story-title {
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  text-decoration: underline;
}

.story-body {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}


/*------------------------------  Sophie - Interactive elements */ 

/*-------- Fade in on scroll */
.fade {
  opacity: 0;
}

/*------ Scroll to top link style */
.scroll {
  text-align: center;
}

.scroll a {
  color: #d2395c;
  font-family: inherit;
}

.scroll a:hover {
  color: #eeC8E0;
}


/* ------ Scale up animation */
.scale {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.scale:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
} 

/* ----- pink change colour */

#hero-image h1:hover {
  color: #d2395c;
} 

#hero-image h3:hover {
  color: #d2395c;
}

/* ------------------------------- Esteph - Media queries */
/* ------------------------------- for mobile screens */

@media screen and (min-width: 280px) and (max-width: 767px) {
  #hero-image {
    width: 100%;
    height: 30%;
    margin-bottom: 5rem;
  }

  #hero-background h1 {
      font-size: 8rem;
      padding-top: 10rem;
      margin-bottom: 5rem;
      letter-spacing: 10px;
  }

  #hero-background h3 {
      font-size: 3rem;
  }

  .box {
    display: block;
    width: 400px;
    height: 290px;
    margin: auto;
    margin-top: 30px;
    
  }

  .box h2 {
    font-size: 1.5rem;
  }

  .box p {
    font-size: 1rem;
  }
  #middle-section {
    height: 2000px;
  }

  form h2 {
    font-size: 2.5rem;
  }
  
  #story-form {
    padding: 40px 20px!important;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  #hero-image {
    margin-bottom: 8rem;
  }

  #hero-background h1 {
    font-size: 15rem;
    padding-top: 5rem;
}

  .box {
    
    margin: 1%;
    text-align: center;
    margin: auto;
    width: 225px;
    height: 320px;
  }

  .box h2 {
    font-size: 1.5rem;
  }

  #story-form {
    padding: 40px 20px!important;
  }
}

/* ------------------------------- for ipad and tablet screens */
@media screen and (min-width: 1024px) and (max-width: 1279px) {

  

  #hero-image {
    height: 50vh;
    width: 100vw;
  }

  #hero-background h1 {
    padding-top: 0;
    font-size: 15rem;
  }

  #hero-background h3 {
    font-size: 5rem;
  }

  .box {
    background-color: white;
    margin: 1%;
    text-align: center;
    margin: auto;
    width: 300px;
    height: 270px;
  }

  /* ------------------------------- Tell us story form */
  #story-form {
    padding: 40px 120px!important;
  }

}
